{% extends "main/header.html" %}

{% block content %}


<!---form action="view_cart/">
		{% csrf_token %}
		<button name="session">Print Session</button>
</form-->

	<div class="product_page">
	{% for product in products %}
	
	<div class = "prod_box">
		<!--div class="top_prod_box">Hi</div-->
		<div class="prod_info">

          <div class="thumbnail img-responsive prod_image"><a href="#"><img src="/media/{{ product.image }}" alt="website template image" border="0"></a></div>
			 <div class="product_title">{{ product.desc }}</div>      
			 <h6 align="center">{{ product.desc }}(malayalam)</h6>        
          <!--div class="product_title">{{ product.desc }}</div-->       
          <div class="prod_price"><!--span class="reduce">350Rs</span--> <span class="price">{{ product.price }}</span></div>
				
    		
      	 <select name = "category"  onchange="updateText('category',this)">
      	 {% for category in categories %}		
				
      	 	{%  if product.name|slugify == category.name|slugify  %}
      	 		<option name = "{{ category.name }}" value="{{ category.price }}">{{ category.category }}</option>
      	 	{% endif %}
      	 	
      	 {% endfor %}	 
		    </select>  	 
      	 
      </div>	
		
		
			<div class="prod_cart">
			<form id="ADDCART{{ forloop.counter }}" action="add_to_cart/">
			{% csrf_token %}
	
				<button class="btn" name="minus" value="minus" type="button" onclick="updateQty(0,this);"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
				<input  class="qty" type="text" style="width:50px; text-align: right;" name="qty" value="1">			
				<button class="btn" name="plus" value="plus" type="button" onclick="updateQty(1,this);"><i class="fa fa-plus-square" aria-hidden="true"></i></button>				 
				<input type="hidden" name = "product" value="{{ product.name }}">	
				<button class="btn" name = "addtocart" type="submit" value="addtocart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button>			
				</form>
			</div>


	</div>
	{% endfor %}	
	</div>


{% endblock %}